@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$Dashboard: #eef0f2;

$Primary-50: #e8f1fd;
$Primary-400: #448df2;
$Primary-500: #1570ef;
$Primary-600: #1366d9;
$Primary-700: #0f50aa;

$Grey-50: #f7f9fc;
$Grey-100: #d0d3d9;
$Grey-200: #b9bdc7;
$Grey-300: #989fad;
$Grey-400: #858d9d;
$Grey-500: #667085;
$Grey-600: #5d6679;
$Grey-800: #383e49;
$Grey-900: #2b2f38;

$Error-50: #feeceb;
$Error-400: #f36960;

$Success-50: #e7f8f0;
$Success-400: #41c588;

$Warning-50: #fef4e6;
$Warning-400: #f9a63a;

@mixin inter-semi-bold($font-size: 14px) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: $font-size;
  font-style: normal;
}

@mixin inter-medium($font-size: 14px) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: $font-size;
  font-style: normal;
}

@mixin inter-regular($font-size: 16px) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: $font-size;
  font-style: normal;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}
