@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.47rem 1rem;
  color: $Grey-500;
  @include inter-medium;
  border: 1px solid $Grey-400;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.primary-btn {
  border: 1px solid $Grey-300;
  border-radius: 100px;
}

.add-btn{
  background-color: $Primary-500;
  color: white;
  border: none;
}

.input-wrap {
  position: relative;
  img {
    position: absolute;
    left: 1.2rem;
    top: 0.5rem;
  }
  input {
    padding: 0.5rem 3rem;
    @include inter-regular;
    border: 1px solid $Dashboard;
    border-radius: 4px;
  }
}

.page {
  display: flex;
}

// Aside styling
aside {
  height: 100vh;
  @include flex-col;
  gap: 2rem;
  position: sticky;
  top: 0;
  .logo {
    padding: 2.3rem 3.2rem 2rem 1.5rem;
  }
  ul {
    list-style: none;
    @include flex-col;
    gap: 1rem;
    margin: 0 0.9rem;
    li {
      display: flex;
      gap: 0.9rem;
      align-items: center;
      padding: 8px 0.5rem;
    }
  }
}

.nav-list {
  text-decoration: none;
  @include inter-medium;
  color: $Grey-600;
}

.nav-list-active {
  text-decoration: none;
  @include inter-medium;
  color: $Primary-600;
  background-color: $Primary-50;
  border-radius: 8px;
  .icon-img {
    fill: $Primary-600;
  }
}

.logo {
  display: flex;
  gap: 1.3rem;
  align-items: center;

  h1 {
    @include inter-medium($font-size: 26px);
    color: #2f7beb;
  }
}

// Header styling
header {
  display: flex;
  padding: 1.7rem 0;
  margin-right: 1.2rem;
  input {
    width: 25rem;
    background-color: $Grey-50;
  }
}

.profile-wrap {
  margin-left: auto;
  display: flex;
  gap: 2.1rem;
  :nth-of-type(-2n + 2) {
    border-radius: 50%;
  }
}

//Guest component styling
.container {
  @include flex-col;
  gap: 1.25rem;
  h6 {
    @include inter-medium($font-size: 12px);
    color: $Grey-400;
  }
}

.guest-btns-container {
  display: flex;
  margin: 0.7rem 1.25rem 0 0;
  .guest-btns {
    display: flex;
    gap: 12px;
  }

  .guest-right-btn {
    margin-left: auto;
    input {
      border: 1px solid $Grey-100;
      border-radius: 8px;
    }
  }
}

.table-container {
  .table-head {
    margin-right: 1.2rem;
    background-color: $Grey-50;
    border: 1px solid $Primary-50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h6 {
      padding: 1rem 0 1rem 1.5rem;
      width: 12.75rem;
      display: inline-block;
      @include inter-medium($font-size: 12px);
      color: $Grey-500;
    }
  }

  .table-data {
    border: 1px solid $Primary-50;
    padding: 1rem 0 1rem 1.5rem;
    margin-right: 1.2rem;
    span {
      @include inter-regular($font-size: 14px);
      color: $Grey-600;
      display: inline-block;
    }

    :nth-last-child(n + 3) {
      width: 12.75rem;
    }
    .id-col {
      @include inter-medium;
      color: $Grey-900;
    }
    .three-dot-col {
      width: 1rem;
    }

    .status {
      padding: 2px 8px;
      border-radius: 16px;
      margin-right: 4rem;
    }

    .Clean {
      background-color: $Primary-50;
      color: $Primary-400;
      margin-right: 5.8rem;
    }

    .Dirty {
      background-color: $Error-50;
      color: $Error-400;
      margin-right: 6.2rem;
    }

    .Inspected {
      background-color: $Success-50;
      color: $Success-400;
    }

    .PickUp {
      background-color: $Warning-50;
      color: $Warning-400;
      margin-right: 5.2rem;
    }
  }
}

.guest-bottom-btns {
  display: flex;
  gap: 22rem;
  padding: 0.83rem 1.5rem;
  margin-bottom: 4rem;
  .page-col {
    list-style: none;
    display: flex;
    gap: 2px;
    li {
      padding: 0.6rem 1rem;
      @include inter-medium;
      color: $Grey-400;
    }
  }
}
