@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.47rem 1rem;
  color: $Grey-500;
  @include inter-medium;
  border: 1px solid $Grey-400;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.primary-btn {
  border: 1px solid $Grey-300;
  border-radius: 100px;
}

.add-btn {
  background-color: $Primary-500;
  color: white;
  border: none;
}

.active-btn {
  background-color: $Primary-50;
  color: $Primary-700;
  border-color: $Primary-500;
  padding: 0.47rem 1rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-wrap {
  position: relative;
  img {
    position: absolute;
    left: 1.2rem;
    top: 0.5rem;
  }
  input {
    padding: 0.5rem 3rem;
    @include inter-regular;
    border: 1px solid $Dashboard;
    border-radius: 4px;
  }
}

.page {
  display: flex;
}

// Aside styling
aside {
  height: 100vh;
  @include flex-col;
  gap: 2rem;
  position: sticky;
  top: 0;
  .logo {
    padding: 2.3rem 3.2rem 2rem 1.5rem;
  }
  ul {
    list-style: none;
    @include flex-col;
    gap: 1rem;
    margin: 0 0.9rem;
    li {
      display: flex;
      gap: 0.9rem;
      align-items: center;
      padding: 0.5rem;
    }
  }
}

.nav-list {
  text-decoration: none;
  @include inter-medium;
  color: $Grey-600;
}

.nav-list-active {
  text-decoration: none;
  @include inter-medium;
  color: $Primary-600;
  background-color: $Primary-50;
  border-radius: 8px;
}

.logo {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  h1 {
    @include inter-medium($font-size: 26px);
    color: #2f7beb;
  }
}

// Header styling
header {
  display: flex;
  padding: 1.7rem 0;
  input {
    width: 25rem;
    background-color: $Grey-50;
  }
}

.profile-wrap {
  margin-left: auto;
  display: flex;
  gap: 2.1rem;
  :nth-of-type(-2n + 2) {
    border-radius: 50%;
  }
}

//Guest component styling
.container {
  @include flex-col;
  gap: 1.25rem;
  h6 {
    @include inter-medium($font-size: 12px);
    color: $Grey-400;
  }
}

.btns-container {
  display: flex;
  .left-side-btns {
    display: flex;
    gap: 12px;
  }

  .right-side-btn {
    margin-left: auto;
    input {
      border: 1px solid $Grey-100;
      border-radius: 8px;
    }
  }
}

.table-container {
  .table-head {
    background-color: $Grey-50;
    border: 1px solid $Primary-50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h6 {
      padding: 1rem 0 1rem 1.5rem;
      width: 12.75rem;
      display: inline-block;
      @include inter-medium($font-size: 12px);
      color: $Grey-500;
    }
  }

  .room-table-head {
    :nth-child(-5n + 5) {
      margin-left: 8rem;
    }
  }

  .table-data {
    border: 1px solid $Primary-50;
    padding: 1rem 0 1rem 1.5rem;
    span {
      @include inter-regular($font-size: 14px);
      color: $Grey-600;
      display: inline-block;
    }

    :nth-last-child(n + 3) {
      width: 12.75rem;
    }
    .id-col {
      @include inter-medium;
      color: $Grey-900;
    }
    .three-dot-col {
      width: 1rem;
      cursor: pointer;
    }

    .status-container {
      display: inline-block;
      width: 9.5rem;
    }

    .status {
      padding: 2px 8px;
      border-radius: 16px;
    }

    .room-tbl-status {
      margin-left: 8rem;
      margin-right: 4.4rem;
    }

    .Clean {
      background-color: $Primary-50;
      color: $Primary-400;
    }

    .Dirty {
      background-color: $Error-50;
      color: $Error-400;
    }

    .Inspected {
      background-color: $Success-50;
      color: $Success-400;
    }

    .PickUp {
      background-color: $Warning-50;
      color: $Warning-400;
    }
  }
}

.guest-bottom-btns {
  display: flex;
  gap: 22.5rem;
  margin-bottom: 2rem;
  .page-col {
    list-style: none;
    display: flex;
    gap: 2px;
    min-width: 18.5rem;
    button {
      @include inter-medium;
      color: $Grey-400;
      padding: 0.6rem 1rem;
    }

    .pagination-btn {
      border: none;
      background: none;
    }
    .active-page {
      color: $Primary-600;
      background: $Grey-50;
      border-radius: 8px;
    }
  }
}

.hide-pagination {
  display: none;
}

.disableActive {
  opacity: 0.5;
}

.overlay-card {
  position: fixed;
  z-index: 2;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-guest-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  @include flex-col;
  gap: 1rem;
  align-items: center;
  box-shadow: 9px 7px 30px 2px black;
  .individual-guest-info {
    @include flex-col;
    gap: 6px;
  }
  img {
    width: 5rem;
  }

  input,
  select {
    width: 22rem;
    padding: 9.5px 16px;
    border: 1px solid $Grey-200;
    border-radius: 8px;
  }
}

.current-page-show {
  @include inter-regular($font-size: 12px);
  color: $Grey-400;
}

.dashboard-overview-container {
  @include flex-col;
  gap: 1rem;
}
